
body {
  color: black;
}
nav {
  height: 70px;
  width: 100%;
  background-color: #EEE;
  position: fixed;
  padding-left: 10px;
}

nav .logo-text {
  position: absolute;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bolder;
  top: 20px;
}

nav .logo-text a {
  text-decoration: none;
  color: black;
  padding-left: 30px;
}

nav ul {
  list-style: none;
  display: inline-block;
}

nav ul li{
  display: inline-block;
  margin-right: 5px;
}

nav ul a {
  text-decoration: none;
  font-size: 20px;
}

nav li a:hover {
  color: red;
  background-color: white;
  padding: 10px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom: 3px solid red;
}

nav .menu-align-right {
  text-align: right;
  margin-right: 30px;
  margin-top: 10px;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 70px;
  padding: 10px;

  /*background-color: red;*/
}

.search-box {
  height: 100px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 60px;

  /*background-color: yellow;*/
}

.form-search {
  color: white;
}

input {
  height: 38px;
  color: grey;
  width: 400px;
  border: 3px solid #EEE;
  font-family: serif;
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  border-radius: 5%;
}

input[type="submit"]{
  height: 42px;
  width: 42px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  background: url(../images/magnifying-glass.png) no-repeat;
  background-size: cover;
  border-radius: 5%;
}

.result-button {
  height: 100px;
  /*background-color: green;*/
}

.result-button table {
  color: #333;
  margin-top: 50px;
}

.result-button table th {
  border: 3px solid #EEE;
  padding: 10px;
}

.result-button table th a {
  color: #333;
  text-decoration: none;
}

.result-button table th a:hover {
  font-size: 20px;
  text-decoration: none;
}

.result-button table th:nth-child(1){
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.result-button table th:nth-last-child(1){
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.result {
  height: 100px;
}

.result table {
  color: grey;
  font-size: 18px;
}

.result table tr {
  line-height: 25px;
}

.result table tr td:nth-child(2){
  color: blue;
  font-weight: bolder;
}
.result table tr td {
  padding-right: 12px;
}
